---
name: Ansible Lint 

on:  # yamllint disable-line rule:truthy
  push:
    branches: [main]
    paths:
      - 'roles/**'
  pull_request:
    branches: [main]
    paths:
      - 'roles/**'

jobs:
  ansible-lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Lint Ansible Playbook
        uses: ansible/ansible-lint-action@main
        with:
          path: "roles/"
